{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <div class="section">
        <table class="table tablestriped">
            <thead>
                <tr>
                    <th class="text-start">Symbol</th>
                    <th class="text-start">Name</th>
                    <th class="text-end">Shares</th>
                    <th class="text-end">Price</th>
                    <th class="text-end">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO: Loop through the database entries to display them in this table -->
                {% for stock in portfolio %}
                    <tr>
                        <td class="text-start">{{ stock.symbol }}</td>
                        <td class="text-start">{{ stock.companyname }}</td>
                        <td class="text-end">{{ stock.no_shs }}</td>
                        <td class="text-end"> {{ stock.price}} </td>
                        <td class="text-end">{{ stock.total}}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td class="text-start"><b>CASH</b></td>
                    <td></td><td></td><td></td>
                    <td class="text-end">{{ cash }}</td>
                </tr>
                <tr>
                    <td class="text-start"><b>PORTFOLIO VALUE</b></td>
                    <td></td><td></td><td></td>
                    <td class="text-end"><b>{{ port_value }}</b></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
