{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}

    <a>A share of {{ name }} ({{ symbol }}) cost {{ price }}.</a>
    <div class="highcharts-figure" id="highcharts-figure">
        <div id="highcharts-container"></div>
        <p class="highcharts-description">
            This chart shows time series of {{ name }}.
        </p>
    </div>
    <script>
    Highcharts.chart({
    chart: {
        renderTo: 'highcharts-container',
        type: 'line'
    },
    title: {
        text: 'Monthly Average Temperature'
    },
    subtitle: {
        text: 'Source: WorldClimate.com'
    },
    xAxis: {
        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    },
    yAxis: {
        title: {
            text: 'Temperature (°C)'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'test',
        data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
    }]
});
</script>

<script>
    //
</script>


{% endblock %}
